.paginator{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fa{
        color: $white;
        font-size: 40px;
        display: none;
    }
    .scrollContainer{
        display: flex;
        align-items: center;
        width: 100%;

        #imageContainer{
            width: 100%;
            overflow-x: scroll;
            display: flex;
            height: fit-content;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            img{
                
                width: 100%;
                object-fit: cover;
                height: 300px;
                border-radius: 20px;
                scroll-snap-align: start;
                margin: 0px 50px;
            }
        }
    }

    .circles{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        span{
            display: block;
            background-color: #bebebe;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0px 2px;
        }
        #circle1{
            background-color: #fafafa;
        }
    }
    
}

@media(min-width:600px){
    .paginator{
     .scrollContainer{


        #imageContainer{
            img{
                height: auto;
                object-fit: unset;
            }
        }
     }

    }
}



@media(min-width:1150px){
    .paginator{
        .fa{
            display: block;
        }
     .scrollContainer{
        width: fit-content;
        
        #imageContainer{
            width: 1000px;
            margin: 0px 50px;
           
            img{
                width: 1000px;
                object-fit: unset;
                margin: 0px 100px;
            }
        }
        #imageContainer::-webkit-scrollbar {
            display: none;
          }
     }

    }
}

@media(min-width:1300px){
    .paginator{
     .scrollContainer{


        #imageContainer{
            width: 1200px;
            img{
                height: auto;
                width: 1200px;
            }
        }
     }

    }
}
