.paginator{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .scrollContainer{
        display: flex;
        align-items: center;
        width: 100%;
        .arrow{
            color: $white;
            cursor: pointer;
            display: none !important;
            z-index: 1;
            width: 60px;
            height: 60px;
            border: 3px solid $secondaryColorDark;
            display: flex;
            text-align: center;
            border-radius: 20px;
            transition: .3s ease-in-out;
            p{
     
                line-height: 50px;
                font-size: 100px;
            }
        }
        .arrow:hover{
            border-color: $secondaryColor;
        }
        #imageContainer{
            width: 100%;
            overflow-x: scroll;
            display: flex;
            height: fit-content;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            box-shadow: 100px 0 200px #1a0b25, -100px 0 200px #191b35;
            border-radius: 20px;
           
            img{
  
                width: 100%;
                object-fit: cover;
                min-height: 180px;
                border-radius: 20px;
                scroll-snap-align: start;
                margin: 0px 50px;
            }
        }
        #imageContainer::-webkit-scrollbar {
            background-color: $primaryLight;
            height: 15px;
        }
        #imageContainer::-webkit-scrollbar-track {
            background-color: $primaryColor;
        }
        #imageContainer::-webkit-scrollbar-thumb {
            background-color: $secondaryColor;
            border-radius: 30px;
        }
    }

    .circles{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        span{
            display: block;
            background-color: $secondaryColor;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0px 2px;
        }
        #circle1{
            background-color: $secondaryColorLight;
        }
    }
    
}

@media(min-width:600px){
    .paginator{
     .scrollContainer{


        #imageContainer{
            img{
                height: auto;
                
            }
        }
     }

    }
}



@media(min-width:1200px){
    .paginator{

     .scrollContainer{
        width: fit-content;
        .arrow{
            display: block !important;
        }
        #imageContainer{
            width: 1000px;
            margin: 0px 30px;
        
            img{
                width: 1000px;
                margin: 0px 100px;
                
            }
            
        }
        #imageContainer::-webkit-scrollbar {
            display: none;
          }
     }

    }
}

@media(min-width:1400px){
    .paginator{
     .scrollContainer{


        #imageContainer{
            width: 1180px;
            max-height: 650px;
            img{
                height: auto;
                width: 1180px !important;
              
            }
        }
     }

    }
}

.hideOverflowPurple{
    z-index: -11;
    position: absolute;
  
    .purpleGradient{
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, $accentColor 0%, rgba(28, 35, 54, 0) 64%);
    
    }
  }