<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website Description">
    <meta name="description" content="100% uniquely designed websites created without page builders. We offer immense value starting at only $500">


    <link rel="icon" href="../images/icon.webp">

    <link rel="icon" href="../images/icon.webp">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    
    <title>Kansas Ridge Web Design</title>
</head>

<body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------NAVIGATION-------------------------------------------->
<!-------------------------------------------------------------------------------------->
<div class="navigationBar">
    <img src="/images/logo.webp" alt="companyLogo">
    <div id="menu">
        <ul>
            <li><a  href="index.html" src="">Home</a></li>
            <li><a  href="ourTeam.html" src="">Pricing</a></li>
            <li><a  href="services.html" src="">Porfolio</a></li>
            <li><a  href="contact.html" src="">Contact</a></li>
        </ul>    
    </div>

    <div class="hamburgerMenu">
        <input type="checkbox" id="hamburgerCheckbox" onclick="burgerMenu()" label="checkboxForMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------NAVIGATION-------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------HERO-------------------------------------------->
<!-------------------------------------------------------------------------------------->
<div class="hero">
    <h1>Small Business Web Design & Development</h1>
    <p>100% uniquely designed websites created without the use of wordpress or other page builders!</p>
    <div class="heroButtons">
        <button class="mainButton">Get Started</button>
        <div class="gradientBorder"><button class="secondaryButton">Our Pricing</button></div>
    </div>
</div>


<!-------------------------------------------------------------------------------------->
<!-----------------------------------HERO-------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------SERVICES------------------------------------------->
<!-------------------------------------------------------------------------------------->


<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING-------------------------------------------->
<!-------------------------------------------------------------------------------------->



<!-------------------------------------------------------------------------------------->
<!-----------------------------------PRICING------------------------------------------->
<!-------------------------------------------------------------------------------------->

<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------->
<!-------------------------------------------------------------------------------------->



<!-------------------------------------------------------------------------------------->
<!-----------------------------------PORTFOLIO------------------------------------------>
<!-------------------------------------------------------------------------------------->

</body>

<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<footer id="footer">

</footer>
<!-------------------------------------------------------------------------------------->
<!-----------------------------------FOOTER--------------------------------------------->
<!-------------------------------------------------------------------------------------->
<script src="../scripts/script.js"></script>
</html>