.hideOverflowBlue{
    z-index: -10;
    position: absolute;
    width: 50%; //change this if we want to slide it right/left
    height: 900px;
    overflow-x: hidden;
    top: -150px;
    right: 0px;
    .blueGradient{
        position: absolute;
        width: 700px;
        height: 700px;
        right: -400px;
        background: radial-gradient(circle, rgb(47, 56, 97) 0%, rgba(28,35,54,0) 64%);
        animation: grow 10.5s infinite;
    }
  }
