@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}
* h1 {
  font-family: "bold";
  z-index: 10;
}

body {
  background-color: #0e1118;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #0e1118;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #0e1118;
}

::-webkit-scrollbar-thumb {
  background-color: #4862A4;
  border-radius: 15px;
  height: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainButton {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 26px;
  border-radius: 100px;
  color: #FAFAFA;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
  background: linear-gradient(225deg, rgb(100, 76, 168) 0%, rgb(72, 98, 164) 100%);
  cursor: pointer;
}

button:hover {
  box-shadow: 7px 0 15px #4862A4, -7px 0 15px #644CA8;
}

.gradientBorder {
  background: rgb(100, 76, 168);
  background: linear-gradient(225deg, rgb(100, 76, 168) 0%, rgb(72, 98, 164) 100%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 3px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.gradientBorder .secondaryButton {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 9px 23px;
  border-radius: 100px;
  background: #0e1118;
  color: #FAFAFA;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
}

@keyframes grow {
  0% {
    width: 700px;
    height: 700px;
  }
  50% {
    width: 900px;
    height: 900px;
  }
  100% {
    width: 700px;
    height: 700px;
  }
}
.header {
  font-size: 40px;
  max-width: 800px;
  text-align: center;
  color: #FAFAFA;
}

.headerDescription {
  color: #898f9b;
  text-align: center;
  padding: 0px 5px;
  max-width: 700px;
}

@media (min-width: 600px) {
  .header {
    font-size: 64px;
  }
}
.specialOffer {
  background-color: #0a0c11;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.specialOffer .contactMethod {
  display: flex;
  margin: 0px 10px;
}
.specialOffer .contactMethod p {
  color: #FAFAFA;
  text-align: center;
  display: flex;
}
.specialOffer .contactMethod .fa {
  color: #FAFAFA;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.specialOffer .contactMethod .fa-envelope {
  font-size: 16px;
  transform: translateY(-1px);
}

.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navigationBar img {
  width: 200px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.navigationBar #menu {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  overflow: visible;
  background-color: #0e1118;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(200px);
}
.navigationBar #menu ul {
  padding-top: 100px;
  list-style: none;
  text-align: center;
}
.navigationBar #menu ul li {
  padding-bottom: 30px;
  width: 160px;
  text-align: end;
  font-family: "bold";
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
  color: #FAFAFA;
  letter-spacing: 1px;
}

.hamburgerMenu {
  position: absolute;
  z-index: 20;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  z-index: 7;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #FAFAFA;
  transition: 0.3s ease-in;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .specialOffer {
    justify-content: flex-end;
  }
  .specialOffer .contactMethod p {
    font-size: 17px;
  }
  .navigationBar {
    max-width: unset;
    width: 100%;
    z-index: 2;
    justify-content: center;
  }
  .navigationBar img {
    z-index: 10;
    width: 250px;
    top: 10px;
    left: 50px;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(0px) !important;
    position: relative;
    width: 600px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    display: flex;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 25px;
    padding-bottom: 0px;
    font-size: 20px;
    color: #FAFAFA;
    font-family: "poppins";
    cursor: pointer;
  }
  .navigationBar #menu ul :after {
    display: block;
    content: "";
    border-bottom: 3px solid #644CA8;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #FAFAFA;
  position: relative;
  padding: 0px 5px;
  z-index: 1;
}
.hero p {
  font-size: 18px;
  color: #898f9b;
  margin-top: 15px;
  max-width: 500px;
  text-align: center;
  padding: 0px 2px;
}
.hero .heroButtons {
  margin-top: 30px;
}
.hero .heroButtons .mainButton {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .hero {
    margin-top: 50px;
  }
  .hero h1 {
    font-size: 64px;
  }
  .hero .heroButtons {
    display: flex;
  }
  .hero .heroButtons .mainButton {
    margin-right: 30px;
  }
}
.paginator {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.paginator .scrollContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.paginator .scrollContainer .arrow {
  color: #FAFAFA;
  cursor: pointer;
  display: none !important;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 3px solid #191b35;
  display: flex;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.paginator .scrollContainer .arrow p {
  line-height: 50px;
  font-size: 100px;
}
.paginator .scrollContainer .arrow:hover {
  border-color: #4862A4;
}
.paginator .scrollContainer #imageContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 100px 0 200px #1a0b25, -100px 0 200px #191b35;
  border-radius: 20px;
}
.paginator .scrollContainer #imageContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 180px;
  border-radius: 20px;
  scroll-snap-align: start;
  margin: 0px 50px;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar {
  background-color: #0e1118;
  height: 15px;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar-track {
  background-color: #0e1118;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar-thumb {
  background-color: #4862A4;
  border-radius: 30px;
}
.paginator .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.paginator .circles span {
  display: block;
  background-color: #4862A4;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0px 2px;
}
.paginator .circles #circle1 {
  background-color: #6aabe0;
}

@media (min-width: 600px) {
  .paginator .scrollContainer #imageContainer img {
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}
@media (min-width: 1200px) {
  .paginator .scrollContainer {
    width: -moz-fit-content;
    width: fit-content;
  }
  .paginator .scrollContainer .arrow {
    display: block !important;
  }
  .paginator .scrollContainer #imageContainer {
    width: 1000px;
    margin: 0px 30px;
  }
  .paginator .scrollContainer #imageContainer img {
    width: 1000px;
    -o-object-fit: unset;
       object-fit: unset;
    margin: 0px 100px;
  }
  .paginator .scrollContainer #imageContainer::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1400px) {
  .paginator .scrollContainer #imageContainer {
    width: 1200px;
  }
  .paginator .scrollContainer #imageContainer img {
    height: auto;
    width: 1200px;
  }
}
.hideOverflowPurple {
  z-index: -11;
  position: absolute;
}
.hideOverflowPurple .purpleGradient {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #644CA8 0%, rgba(28, 35, 54, 0) 64%);
}

.pricing {
  margin-top: 50px;
  padding-bottom: 50px;
}
.pricing .pricingContainer {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .pricingContainer .popular {
  border: 2px solid #644CA8;
  position: relative;
  -o-border-image: linear-gradient(#644CA8, #4862A4) 1;
     border-image: linear-gradient(#644CA8, #4862A4) 1;
  box-shadow: 10px 0 30px #0a0d36, -10px 0 30px #1a0b25;
  animation: 5s glowPurple infinite;
}
.pricing .pricingContainer .other {
  border: 2px solid #8A8F98;
  -o-border-image: linear-gradient(#898f9b, #0e1118) 1;
     border-image: linear-gradient(#898f9b, #0e1118) 1;
}
.pricing .pricingContainer .priceOption {
  width: min(400px, 97%);
  height: 500px;
  border-radius: 10px;
  margin: 15px 5px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.pricing .pricingContainer .priceOption .topCheck {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 20px;
  color: #0e1118;
}
.pricing .pricingContainer .priceOption .priceBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .pricingContainer .priceOption .priceBox h4 {
  font-size: 40px;
  font-weight: 100;
  color: #FAFAFA;
}
.pricing .pricingContainer .priceOption .priceBox p {
  font-weight: 400;
  transform: translateY(-6px);
  padding-bottom: 11px;
  padding-top: 4px;
  color: #FAFAFA;
  letter-spacing: 1px;
  font-size: 24px;
}
.pricing .pricingContainer .priceOption .priceBox .addBorder {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  padding: 3px 15px;
  border: 2px solid #191b35;
  color: #644CA8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  z-index: 1;
  background-color: #0e1118;
  font-weight: bold;
  font-size: 16px;
  color: #644CA8;
  letter-spacing: 1px;
}
.pricing .pricingContainer .priceOption .priceBox .line {
  position: relative;
  width: 290px;
  height: 1px;
  border-top: 2px solid #191b35;
  z-index: 0;
  transform: translateY(-20px);
}
.pricing .pricingContainer .priceOption .priceFeatures ul {
  padding: 0px 20px;
}
.pricing .pricingContainer .priceOption .priceFeatures ul li {
  display: flex;
  padding-top: 15px;
  padding-left: 9px;
  font-size: 18px;
  color: #FAFAFA;
}
.pricing .pricingContainer .priceOption .priceFeatures ul li .fa {
  position: relative;
  color: #644CA8;
  font-size: 20px;
  padding-right: 7px;
  transform: translateY(4px);
}
.pricing .pricingContainer .popular::before {
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
  border-style: solid;
  border-width: 64px 64px 0px 0px;
  border-color: #644CA8 transparent;
  border-radius: 0px 0px 0px;
}

@media (min-width: 650px) {
  .pricing .pricingContainer {
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
    width: 1400px;
  }
  .pricing .pricingContainer .priceOption {
    margin: 15px 30px !important;
  }
  .pricing .pricingContainer .priceOption .priceFeatures ul {
    padding: 10px 20px;
  }
}
@keyframes glowPurple {
  0% {
    box-shadow: 5px 5px 30px #0a0d36, -5px -5px 30px #1a0b25;
  }
  40% {
    box-shadow: 20px 20px 30px #0a0d36, -20px -20px 30px #1a0b25;
  }
  100% {
    box-shadow: 5px 5px 30px #0a0d36, -5px -5px 30px #1a0b25;
  }
}
.whyUs {
  margin-top: 50px;
  position: relative;
}
.whyUs .sellingPoints {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  color: #FAFAFA;
}
.whyUs .sellingPoints .section {
  padding: 8px 0px;
  max-width: 650px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161B27;
  border-radius: 15px;
  margin: 15px 15px;
  transition: 0.3s ease-in-out;
}
.whyUs .sellingPoints .section .fa {
  font-size: 80px;
  margin-right: 20px;
  padding-left: 10px;
  color: #6d6cad;
}
.whyUs .sellingPoints .section .fa-mobile {
  font-size: 120px;
}
.whyUs .sellingPoints .section .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 5px;
}
.whyUs .sellingPoints .section .text h4 {
  letter-spacing: 1px;
  padding: 5px 0px;
}
.whyUs .sellingPoints .section .text p {
  margin-top: 0px;
}
.whyUs .sellingPoints .section:hover {
  box-shadow: 7px 0 15px #4862A4, -7px 0 15px #644CA8;
}

@media (min-width: 550px) {
  .whyUs .sellingPoints .section {
    flex-direction: row;
  }
  .whyUs .sellingPoints .section .text {
    text-align: start;
  }
}
.hideOverflowBlue, .hideOverflowPurple {
  z-index: -10;
  position: absolute;
  width: 320px;
  height: 900px;
  overflow-x: hidden;
  top: -150px;
  right: 0px;
}
.hideOverflowBlue .blueGradient, .hideOverflowPurple .blueGradient {
  position: absolute;
  width: 700px;
  height: 700px;
  right: -550px;
  background: radial-gradient(circle, rgb(47, 56, 97) 0%, rgba(28, 35, 54, 0) 64%);
  animation: grow 10.5s infinite;
}

.hideOverflowPurple {
  top: 350px;
  left: 0px;
}
.hideOverflowPurple .purpleGradient {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -550px;
  background: radial-gradient(circle, #483779 0%, rgba(127, 31, 218, 0) 64%);
  animation: grow 10.5s infinite;
}

.ourProcess {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourProcess .processContainer {
  margin-top: 30px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ourProcess .processContainer .process {
  position: relative;
  width: 350px;
  min-height: 400px;
  background-color: rgba(34, 41, 59, 0.4196078431);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FAFAFA;
  border-radius: 20px;
  margin: 20px 20px;
  transition: scale 0.2s ease-in-out;
  text-align: center;
}
.ourProcess .processContainer .process span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 35px;
  height: 35px;
  background-color: #644CA8;
  border-radius: 100%;
  font-size: 20px;
}
.ourProcess .processContainer .process .fa {
  text-align: center;
  font-size: 50px;
  padding: 20px 0px;
  color: #6d6cad;
}
.ourProcess .processContainer .process h3 {
  padding-bottom: 20px;
  font-size: 30px;
}
.ourProcess .processContainer .process .description {
  text-align: center;
  padding: 0px 10px;
  line-height: 28px;
}
.ourProcess .processContainer .process:hover {
  scale: 1.1;
  background-color: #644CA8;
}
.ourProcess .processContainer .process:hover .fa {
  color: #FAFAFA;
}
.ourProcess .processContainer .process:hover span {
  background-color: #161b27;
}

footer {
  margin-top: 100px;
  color: #FAFAFA !important;
  background-color: #0a0c11;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section b {
  letter-spacing: 1px;
}
footer .section ul {
  padding-bottom: 35px;
  list-style: none;
  width: 150px;
}
footer .section ul li {
  padding: 5px 0px;
  transition: 0.5s ease-in-out;
}
footer .section ul li a {
  text-decoration: none;
  color: #FAFAFA;
}
footer .section ul li .fa {
  color: #6d6cad;
}
footer .section ul li:hover {
  opacity: 0.4;
  cursor: pointer;
}
footer .section ul li:first-child:hover {
  opacity: 1;
  cursor: auto;
}
footer .section ul li:first-child {
  color: #6d6cad;
}
footer .section ul li:first-child b {
  color: #6d6cad;
  font-family: "bold";
}
footer .section .fa {
  width: 20px;
  height: 20px;
  text-align: center;
  padding-right: 3px;
}
footer .section .fa-instagram {
  padding-top: 3px;
  padding-right: 2px;
}
footer .logoAndDescription {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logoAndDescription p {
  max-width: 300px;
  text-align: center;
}
footer .logoAndDescription img {
  width: 250px;
}
footer .hours .fa {
  padding-right: 5px;
  font-size: 18px;
}
footer .hours ul li b {
  display: inline-block;
  width: 50px;
}
footer .contact ul {
  width: 210px;
  margin-left: 60px;
}

@media (min-width: 1100px) {
  .copyright p {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer .section {
    width: 200px;
    height: 350px;
  }
  footer .contact ul {
    margin-left: 30px;
  }
  footer .logoAndDescription {
    flex-basis: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1300px) {
  footer {
    justify-content: center;
  }
  footer .section {
    padding-top: 49px;
    margin: 0px 25px;
  }
  footer .navigation {
    margin-left: 100px;
  }
  footer .logoAndDescription {
    transform: translateY(-55px);
    flex-basis: auto;
    width: 250px !important;
  }
}
.copyright {
  background-color: #07080c;
  width: 100%;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright .developer {
  display: flex;
}
.copyright .developer p {
  font-size: 15px;
}
.copyright .developer a {
  text-decoration: none;
  font-family: "bold";
  color: #644CA8;
}
.copyright .developer a:hover {
  opacity: 0.5;
}/*# sourceMappingURL=styles.css.map */