//-------------------------------COLORS---------------------------------
$primaryColor: #0e1118;
$primaryDark:  #0a0c11;
$primaryLight: #0e1118;

$secondaryColor: #4862A4;
$secondaryColorDark: #191b35;
$secondaryColorLight: #6aabe0;

$accentColor: #644CA8;
$accentColorDark: #1a0b25;
$accentColorLight: #6d6cad;

$gray: #898f9b;
$grayDark: #8A8F98;
$white:  #FAFAFA;
$black: #111111;
//-------------------------
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face{
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);

}
@font-face{
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------
*{
  margin: 0;   
  padding: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
  h1{
    font-family: "bold";
    z-index: 10;
  }
}
body{
  background-color: $primaryColor;
  overflow-x: hidden;


}
::-webkit-scrollbar {
  background-color: $primaryLight;
  width: 15px;

}
::-webkit-scrollbar-track {
  background-color: $primaryColor;
}
::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 30px;
  height: 10px;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%
}

.mainButton{
  width: fit-content;
  height: fit-content;
  padding: 12px 26px;
  border-radius: 100px;
  color: $white;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
  background: linear-gradient(225deg, rgba(100,76,168,1) 0%, rgba(72,98,164,1) 100%);
  cursor: pointer;
}
button:hover{
  box-shadow: 7px 0 15px $secondaryColor, -7px 0 15px $accentColor;
 
}
.gradientBorder{
  
      background: rgb(100,76,168);
      background: linear-gradient(225deg, rgba(100,76,168,1) 0%, rgba(72,98,164,1) 100%);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 3px;
      width: fit-content;
      height: fit-content;
  .secondaryButton{
    cursor: pointer;
      width: fit-content;
      height: fit-content;
      padding: 9px 23px;
      border-radius: 100px;
      background: $primaryColor;
      color: $white;
      border: none;
      font-size: 18px;
      font-family: "bold";
      letter-spacing: 1px;
  }
}







@keyframes grow{
  0%{
      width: 700px;
      height: 700px;
  }
  50%{
      width: 900px;
      height: 900px;
  }
  100%{
      width: 700px;
      height: 700px;
  }
}





.header{
  font-size: 40px;
  max-width: 800px;
  text-align: center;
  color: $white;
}
.headerDescription{
  color: $gray;
  text-align: center;
  padding: 0px 5px;
  max-width: 700px;
}
@media(min-width:600px){
  .header{
    font-size: 64px;
  }
}
//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------

@import "_navigationBar.scss";
@import "index/_hero.scss";
@import "index/_scroller.scss";
@import "index/_pricing.scss";
@import "index/_whyUs.scss";
@import "_gradients.scss";
@import "index/_ourProcess.scss";
@import "_footer.scss"
//-------------------------------IMPORTS---------------------------------