//-------------------------------COLORS---------------------------------
$primaryColor: #1C2336;
$primaryDark:  #fafafa;
$primaryLight: #FAFAFA;

$secondaryColor: #4862A4;
$secondaryColorDark: #202020;
$secondaryColorLight: #6F91EB;

$accentColor: #644CA8;
$accentColorDark: #e6242b;
$accentColorLight: #77623b;;

$white:  #FAFAFA;
$black: #111111;
//-------------------------
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face{
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);

}
@font-face{
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------
*{
  margin: 0;   
  padding: 0;
  font-family: "Poppins";

  h1{
    font-family: "bold";
  }
}
body{
  background-color: $primaryColor;
  overflow-x: hidden;


}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%
}

.mainButton{
  width: fit-content;
  height: fit-content;
  padding: 15px 30px;
  border-radius: 100px;
  color: $white;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
  background: rgb(100,76,168);
  background: linear-gradient(225deg, rgba(100,76,168,1) 0%, rgba(72,98,164,1) 100%);
}
.gradientBorder{
      background: rgb(100,76,168);
      background: linear-gradient(225deg, rgba(100,76,168,1) 0%, rgba(72,98,164,1) 100%);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 3px;
      width: fit-content;
      height: fit-content;
  .secondaryButton{
      width: fit-content;
      height: fit-content;
      padding: 12px 30px;
      border-radius: 100px;
      background: $primaryColor;
      color: $white;
      border: none;
      font-size: 18px;
      font-family: "bold";
      letter-spacing: 1px;
  }
}


//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------

@import "_navigationBar.scss";
@import "_hero.scss";
@import "_scroller.scss"
//-------------------------------IMPORTS---------------------------------