@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #1C2336;
}
* h1 {
  font-family: "bold";
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainButton {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 30px;
  border-radius: 100px;
  color: #FAFAFA;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
  background: rgb(100, 76, 168);
  background: linear-gradient(225deg, rgb(100, 76, 168) 0%, rgb(72, 98, 164) 100%);
}

.gradientBorder {
  background: rgb(100, 76, 168);
  background: linear-gradient(225deg, rgb(100, 76, 168) 0%, rgb(72, 98, 164) 100%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 3px;
}
.gradientBorder .secondaryButton {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 27px;
  border-radius: 100px;
  background: #1C2336;
  color: #FAFAFA;
  border: none;
  font-size: 18px;
  font-family: "bold";
  letter-spacing: 1px;
}

.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navigationBar img {
  width: 200px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  overflow: visible;
  background-color: #644CA8;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(200px);
}
.navigationBar #menu ul {
  padding-top: 100px;
  list-style: none;
  text-align: center;
}
.navigationBar #menu ul li {
  padding-bottom: 30px;
  width: 160px;
  text-align: end;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a {
  font-family: "bold";
  text-decoration: none;
  font-size: 25px;
  color: #1C2336;
}
.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #111111;
  transition: 0.3s ease-in;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #4862A4;
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    max-width: 1800px;
    z-index: 2;
    justify-content: center;
  }
  .navigationBar img {
    width: 250px;
    top: 10px;
    left: 75px;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(0px) !important;
    position: relative;
    width: 600px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    display: flex;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .navigationBar #menu ul li a {
    font-size: 20px;
    color: #FAFAFA;
    font-family: "poppins";
  }
  .navigationBar #menu ul li :after {
    display: block;
    content: "";
    border-bottom: 3px solid #644CA8;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul li :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: #FAFAFA;
}
.hero h1 {
  font-size: 64px;
  max-width: 800px;
  text-align: center;
}
.hero p {
  margin-top: 15px;
  max-width: 500px;
  text-align: center;
}
.hero .heroButtons {
  margin-top: 15px;
}
.hero .heroButtons .mainButton {
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */